<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>

    <section class="header">
        <a href="/logout">Logout</a>
    </section>

    <section class="container">
        <h1>Todos</h1>
        <h3>Welcome <%= user.userName %></h3>

        <form action="/todos/createTodo" method='POST'>
            <input type="text" placeholder="Enter Todo Item" name='todoItem'>
            <input type="text" placeholder="Enter due date" name='todoDueDate'>
            <input type="submit">
        </form>

        <ul class="toDoCards">
        <% todos.forEach( el => { %>
                <li class='todoItem' data-id='<%=el._id%>'>
                    <span class='<%= el.completed === true ? 'completed' : 'not'%>'> Activity: <%= el.todo %></span>
            
                    <span class="">Due Date: <%= el.dueDate %></span>
                  
                    <span class='del'> Delete </span>
                    <span class='edit'> Edit </span>
                </li>
        <% }) %>    
        </ul>

        <h2><%= user.userName %> has <%= left %> things left to do.</h2>

    </section>


    <script src="js/main.js"></script>
</body>
</html>